@font-face {
    font-family: BebasBold;
    src: url(bebas/BebasNeueRegular.ttf);
}

@font-face {
    font-family: MontBold;
    src: url(vendor/fonts/montserrat/Montserrat-Regular.otf);
}
@font-face {
    font-family: OpenSans;
    src: url(vendor/fonts/open-sans/OpenSans-Regular.ttf);
}

.members {
  text-align:center;
}

#member {

}

#member>img {
  width:100%;
}

body, html {
  overflow: scroll;
  font-family: OpenSans;
}

#body-background {
  background-color: #11344b;
}

#video-background {
/*  making the video fullscreen  */
  position: absolute;
  right: 0;
  left:0;

  top:0px;
  height: 200px;
  width: 100%;
  height: auto;
  z-index: -800;
}

#overlay {
  position: absolute;
  top: 0px;
  height: 1000px;
  width: 100%;
  opacity: .5;
  background-color: #11344b;
  z-index: -1;
}

.navbar-brand {
  margin: 0;
}

.navbar-brand>img {
  height: 100%;
  padding:0;
}

nav {
    font-family: MontBold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/*transparent background*/
.navbar-fixed-top {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: #11344b;
    opacity: .9;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #ddd;
}

footer, section {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  color: white;
  width: 100%;
  padding: 3% 4% 7% 4%;

  -moz-box-shadow: rgba(0,0,0,0.3) 0px 10px 30px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 10px 30px;
  box-shadow: rgba(0,0,0,0.3) 0px 10px 30px;
}

footer {
  color: black;
}

footer>h3, section>h3 {
  font-family: MontBold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

section#home {
  font-family: MontBold;
  box-shadow: none;
  padding-top: 300px;
    padding-bottom: 300px;

  font-size: 20px;
  letter-spacing: 3px;
}

section#nextEvent {
  background-color: #799a53;
}

.left-align-div {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

section#about {
  background-color: #11344b;
}

section#events {
  background-color: #123945;
}

section#team {
  background-color: #394841;
}

section#faq {
  background-color: #110245;
}

section#sponsors {
  background-color: #333;
}
