@font-face {
    font-family: BebasBold;
    src: url(bebas/BebasNeueRegular.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(open-sans/OpenSans-Regular.ttf);
}


*{

}

body, html{
  overflow: scroll;
  font-family: OpenSans;

}

#body-background{
  background-color: #11344b;
}
#video-background {
/*  making the video fullscreen  */
  position: absolute;
  right: 0;
  left:0;

  top:0px;
  height: 200px;
  width: 100%; 
  height: auto;
  z-index: -1;
}

.navbar-brand{
  margin: 0;
}
.navbar-brand>img{
  height: 100%;
  padding:0;
}
nav{
    font-family: BebasBold;
    font-size: 25px;
    letter-spacing: 2px;

}

/*transparent background*/
.navbar-fixed-top {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: #11344b;
    opacity: .9;
}

section{
  margin: 0;
  text-align: center;
  color: white;
  width: 100%;
  padding: 3% 0 7% 5%;


    -moz-box-shadow: rgba(0,0,0,0.3) 0px 10px 30px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 10px 30px;
  box-shadow: rgba(0,0,0,0.3) 0px 10px 30px;

}


section#home{
  box-shadow: none;
  padding-top: 200px;
}
section#about{
    background-color: #11344b;

}

section#faq{
  background-color:#110245;
}

section#sponsors{
  background-color:#333;
}