@font-face {
    font-family: BebasBold;
    src: url(bebas/BebasNeueRegular.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(open-sans/OpenSans-Regular.ttf);
}


*{

}

body, html{
  overflow: scroll;
  font-family: OpenSans;

}

#body-background{
  background-color: #11344b;
}
#video-background {
/*  making the video fullscreen  */
  position: absolute;
  right: 0;
  left:0;

  top:0px;
  height: 200px;
  width: 100%; 
  height: auto;
  z-index: -1;
}

.navbar-brand{
  margin: 0;
}
.navbar-brand>img{
  height: 100%;
  padding:0;
}
nav{
    font-family: BebasBold;
    font-size: 25px;
    letter-spacing: 2px;

}

/*transparent background*/
.navbar-fixed-top {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: #11344b;
}

section{
  color: white;
  width: 100%;
  background-color: #11344b;
  padding: 0 7%;

}